{% extends 'base.html.twig' %}

{% block title %}
Bienvenue sur le WAB !
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div>
				<h1>WAR ARMY BUILDER</h1>
				<div>
					<button class="col-4 btn btn-danger">Connexion</button>

					<button class="col-4 btn btn-danger">Inscription</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
