{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue sur le WAB !
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<img src="{{ asset('build/images/logo.png') }}" alt="logo de Wargame Army Builder">
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div>
				<h1>WAR ARMY BUILDER</h1>
				<p class="justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, amet error illum commodi tenetur fuga necessitatibus ullam pariatur voluptatem accusamus quia cupiditate, perferendis est facere quae incidunt! Eaque ut adipisci blanditiis atque temporibus ullam dolore magni consectetur quia eius voluptatibus voluptas illo soluta sit, sed odit perspiciatis? Dolorem, iusto illo.</p>
				<div>
					<button class="col-4 btn btn-danger">Connexion</button>

					<button class="col-4 btn btn-danger">Inscription</button>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
