{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="container">
	<h1>Enregistrement</h1>
		<div class="row">
			<div>
				{{ form_start(registrationForm) }}
				{{ form_widget(registrationForm) }}
				<button type="submit" class="btn cta">Enregistrer</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>

{% endblock %}
