{% extends 'base.html.twig' %}

{% block title %}Units
{% endblock %}


{% block body %}

<h1>{{ title }}</h1>

	<div class="row">
    {% for userArmyUnit in userArmyUnits %}
        <ul>
            <li>

            </li>    
        </ul>
    {% endfor %}
	</div>

{% endblock %}
