@import "~bootstrap/scss/bootstrap";

body {
    padding-top: 5em;
}

.btn-footer {
    color: black;
}

.cta {
    background-color: rgb(180, 0, 0);
    color: white;
}

.footer {
    background-color: rgb(250, 210, 0);
    padding: 0em;
}

.logo {
    max-height: 250px;
    max-width: 250px;
}