{% extends 'base.html.twig' %}

{% block title %}WAB - News
{% endblock %}

{% block body %}

	<h1>{{ title }}</h1>

	<section class="news">

		<news>
			<h2>Titre de la new</h2>
			<div class="metadata">Ecrit le 10/05/2019 à 19:00 dans la catégorie Modélisme</div>
			<div class="content">
				<img src="http://placehold.it/350*150" alt="">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit animi temporibus distinctio nihil quibusdam exercitationem?</p>
				<p>Saepe nam qui dolores reprehenderit! Qui consequuntur explicabo illum eos. Facere veniam nostrum nesciunt voluptate.</p>
				<a href="{{ path('news_show') }}" class="btn cta">Lire la suite</a>
			</div>
		</news>
		<news>
			<h2>Titre de la new</h2>
			<div class="metadata">Ecrit le 10/05/2019 à 19:00 dans la catégorie Modélisme</div>
			<div class="content">
				<img src="http://placehold.it/350*150" alt="">
				<p>Fuga id molestias cumque fugiat quasi, voluptas, dolore, ad excepturi quo itaque eos sed ipsa!</p>
				<p>Mollitia eos blanditiis placeat. Beatae quibusdam repellat similique laboriosam saepe aliquid commodi provident nemo possimus?</p>
				<a href="{{ path('news_show') }}" class="btn cta">Lire la suite</a>
			</div>
		</news>
		<news>
			<h2>Titre de la new</h2>
			<div class="metadata">Ecrit le 10/05/2019 à 19:00 dans la catégorie Modélisme</div>
			<div class="content">
				<img src="http://placehold.it/350*150" alt="">
				<p>Ipsam velit atque nobis eaque error! Possimus facere, provident aliquam debitis autem iusto obcaecati delectus.</p>
				<p>Vel nam laborum, enim ipsum eaque eligendi! Voluptas sed ipsum at voluptate quaerat eaque aut!</p>
				<a href="{{ path('news_show') }}" class="btn cta">Lire la suite</a>
			</div>
		</news>

	</section>

{% endblock %}
