{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<news>
		<h2>Titre de la new</h2>
		<div class="metadata">Ecrit le 10/05/2019 à 19:00 dans la catégorie Modélisme</div>
		<div class="content">
			<img src="http://placehold.it/350*150" alt="">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit animi temporibus distinctio nihil quibusdam exercitationem?</p>
			<p>Saepe nam qui dolores reprehenderit! Qui consequuntur explicabo illum eos. Facere veniam nostrum nesciunt voluptate.</p>
			<hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quia, blanditiis consequuntur numquam quod incidunt esse impedit, praesentium dolorem ad eum et corporis quae ducimus, autem quidem dicta eius consectetur optio? Ratione quis natus, ad, dolore necessitatibus earum quisquam eaque fuga nulla accusamus nisi explicabo. Quo architecto qui possimus commodi?</p>
			<p>Incidunt libero beatae sed voluptatum necessitatibus sequi laudantium ratione amet, perferendis impedit voluptates omnis qui, facere at totam tenetur consequuntur laborum aliquam earum temporibus! Sunt, incidunt voluptas quam debitis nulla consequuntur nesciunt rem illo id placeat, voluptatem vero in voluptates atque sit soluta possimus iusto ex itaque dignissimos, temporibus ut?</p>
		</div>
	</news>
{% endblock %}
