{% extends 'base.html.twig' %}

{% block title %}Select your units
{% endblock %}


{% block body %}

	<div class="row">

		<div class="col-lg-3">
			<ul>
				{% for userArmyUnit in userArmyUnits %}
					<li>{{ userArmyUnit }}</li>
				{% endfor %}
			</ul>
		</div>

	</div>

{% endblock %}
