{% extends 'base.html.twig' %}

{% block title %}War Army Builder
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<h1 class="justify-center">
			        BUILDER
			</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat autem eum rerum? Sapiente itaque laboriosam distinctio repudiandae quasi vitae ab sint voluptatum ipsum error quibusdam soluta dicta nisi voluptate, a iusto, ex aliquam, maxime eum autem necessitatibus fugit? Delectus officia maxime ex quis consequuntur, aspernatur quaerat suscipit. Nobis, sequi neque!

			</p>
		</div>
	</div>

	<div>
		<button class="col-4 btn btn-danger">Connexion</button>

		<button class="col-4 btn btn-danger">Inscription</button>
	</div>
{% endblock %}
