{% extends 'base.html.twig' %}

{% block title %}Select your composition
{% endblock %}


{# 
<a href="{{ path('article_edit') }}" class="btn cta">Edit article</a>
#}

{% block body %}

	{% for UserArmy in UserArmies %}
		<div class="col-lg-3 col-md-6 col-sm-12 text-center">
			<div class="card my-3">
				<div class="card-body">
					<div>{{ UserArmy.army_points }}</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
