{% extends 'base.html.twig' %}

{% block title %}Edit UserArmy{% endblock %}

{% block body %}
    <h1>Edit UserArmy</h1>

    {{ include('user_army/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_army_index') }}">back to list</a>

    {{ include('user_army/_delete_form.html.twig') }}
{% endblock %}
